* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
    font-family: 'Unkempt';
    src: url('./Unkempt-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Unkempt';
    src: url('./Unkempt-Regular.ttf') format('truetype');
    font-weight: 400;
}

html {
  background-color: white;
  height: 100%;
}
body {
  background: url('./background.png');
  padding: 32px;
  width: 1024px;
  height: 100%;
}

.chart {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  width: 960px;
  font-family: 'Unkempt';
}

.letter, .cell {
  width: 56px;
  height: 56px;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.letter {
  font-weight: 700;
  font-size: 55px;
  color: #ed1e79;
  text-shadow: 4px 4px 2px black;
}

.cell {
  font-weight: 400;
  font-size: 40px;
  border-radius: 50%;
  color: #ffffff22;
  position: relative;
}
.cell .marker {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  transform: scale(0, 0);
  transition: transform 0.5s ease-in-out;
}

.cell .marker::after {
content: '';
top: -6px;
left: -6px;

  width: 60px;
  height: 60px;
  border: 4px dashed #ed1e79;
  display: block;
  position: absolute;
  border-radius: 50%;
}

.cell.picked {
  color: #ffffff;
  text-shadow: 4px 4px 2px black;
}

.cell.latest .marker {
  transform: scale(1, 1);
}

.cell.latest .marker::after {
  animation: spin 6s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    to {
        transform: rotate(360deg);
    }
}